alpha-vantage==2.0.0
astroid==1.6.1
autopep8==1.3.4
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
click==6.7
cssselect==1.0.1
cssselect2==0.2.0
cycler==0.10.0
decorator==4.1.2
EditorConfig==0.12.1
Flask==0.12.2
Flask-AutoIndex==0.6
Flask-JSGlue==0.3.1
Flask-Session==0.3.1
Flask-Silk==0.2
Flask-SQLAlchemy==2.2
future==0.16.0
html5lib==0.999999999
icdiff==1.9.1
idna==2.5
inflection==0.3.1
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
more-itertools==4.2.0
newsapi-python==0.2.3
nltk==3.2.4
oauthlib==2.0.2
olefile==0.44
passlib==1.7.1
pdfrw==0.4
pexpect==4.2.1
Pillow==8.1.1
psycopg2==2.7.4
psycopg2-binary==2.7.4
ptyprocess==0.5.2
pycodestyle==2.3.1
Pygments==2.2.0
pylint==1.8.2
pylint-flask==0.5
pylint-plugin-utils==0.2.6
pyparsing==2.2.0
Pyphen==0.9.4
PySocks==1.6.8
python-dateutil==2.7.3
python-magic==0.4.15
PyYAML==3.13
Quandl==3.4.0
requests==2.17.1
requests-oauthlib==0.8.0
simplejson==3.16.0
six==1.10.0
SQLAlchemy==1.1.13
sqlparse==0.2.3
termcolor==1.1.0
tinycss==0.4
tinycss2==0.6.0
traitlets==4.3.2
twython==3.5.0
urllib3==1.21.1
virtualenv==15.1.0
WeasyPrint==0.42.2
Werkzeug==0.12.2
wrapt==1.10.11
