{% extends "stocktrade.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="{{ url_for('buy') }}" class="form-signin" method="post">
        <div class="text-center mb-4">
            <img class="mb-4" src="/static/Buy.png" alt="Icon" width="100" height="100">
            <h1 class="h3 mb-3 font-weight-normal">Enter a stock symbol to buy!</h1>
        </div>
        <div class="form-label-group">
            <input type="text" id="inputText" name="symbol" class="form-control" autocomplete="off" placeholder="Symbol" autofocus>
            <label for="inputText">Symbol</label>
        </div>
        <div class="form-label-group">
            <input type="number" id="inputNumber" name="shares" autocomplete="off" class="form-control" placeholder="Shares">
            <label for="inputNumber">Shares</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Buy</button>
    </form>
{% endblock %}
