{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form class="form-signin" action="/change_password" method="post">
      <div class="text-center mb-4">
        <img class="mb-4" src="static/fitsol.ico" alt="Icon" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Change Password!</h1>
      </div>

      <div class="form-label-group">
        <input type="password" autofocus id="inputPassword" name="oldpassword" class="form-control" placeholder="Old Password">
        <label for="inputPassword">Password</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputNewPassword" name="password" class="form-control" placeholder="New Password">
        <label for="inputNewPassword">New Password</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputConfirmPassword" name="confirmation" class="form-control" placeholder="Confirm Password">
        <label for="inputConfirmPassword">Confirm Password</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Change!</button>
    </form>
{% endblock %}
