{% extends "layout.html" %}

{% block title %}
    Contact us
{% endblock %}

{% block main %}
<div class="container">
    <div class="row" align="center">
        <div class="col-md-12 jumbotron">
            <div class="text-center">
                <img class="mb-4" src="/static/contact.png" alt="Icon" width="150" height="150">
                <h1 class="display-4">Hello, Folks!</h1>
                <p class="lead">We are happy to help you. You can get in touch with us using different medias.</p>
                <hr class="my-4">
                <p class="lead"><i class="fas fa-envelope"></i> :  <a title="Gmail" href="mailto:ayushagarwal.march@gmail.com" style="color: #ffffff;" onclick="window.location.href='np.html'">ayushagarwal.march@gmail.com</a></p>
                <p></p>
                <p class="lead"><i class="fab fa-github"></i> : <a target="_blank" href="https://github.com/Ayush-A" style="color: #ffffff;" title="Ayush-A">github.com/Ayush-A</a></p>
                <p><div>Icons made by <a href="http://www.freepik.com" title="Freepik"  style="color: #ffffff;">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"  style="color: #ffffff;">www.flaticon.com</a> is licensed by <a  style="color: #ffffff;" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.</div></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}